{%extends "blog_list.html"%}
{%block title%}博客{%endblock%}
{%block content%}
<script type="text/javascript">
    $(document).ready(changeActive(1));
    $(document).ready(changeLiActive({{sort.id}}));
</script>
<div class="span9">

{% load pagination_tags %}
{% autopaginate sort_blogs 10 %}
{%load nbsp%}
{%for blog in sort_blogs%}
<section id="blog_{{blog.id}}">
  <div class="hero-unit">
    <div class="page-header">
    <h3><a href="{%url 'blog.views.blog_detail' blog_id=blog.id  %}">{{blog.title}}</a></h3>

    <p>{{blog.pub_date|date:"Y-m-d H:i:s"}}</p>    
      {{blog.content|striptags|nbsp|safe|truncatechars:300}}
    </div>
    </div>
</section>

{%empty%}
 该分类下暂时没有内容
{%endfor%}

<div class="pagination"> 
      {% paginate %}
</div>
</div>
{%endblock%}
{%block footer%}{%endblock%}
