{%extends "blog_list.html"%}
{%block title%}blog{%endblock%}
{%block content%}
<script type="text/javascript">
    $(document).ready(changeActive(0));
</script>


{%load duoshuo_tags%}
<div class="span9">
 <div class="row-fluid" id="blog_{{blog.id}}">
              <h2>{{blog.title}}</h2>
              <p>{{blog.pub_date|date:"Y-m-d H:i:s"}}</p>
              <p>Tags: 
                {% for t in tags %}<a href="/blogs/search/?q={{t}}">{{t}}</a>
                {% endfor %}
                </p>
                <br/>
              <p>
              	{%autoescape off%}
              	{{blog.content}}
              	{%endautoescape%}
               </p>
               <p>{%duoshuo_comments 'yasir'%}

               </p>
            
</div><!--/row-->

</div>
{%endblock%}