{%extends "base_index.html"%}
{%block title%}Yasir的博客{%endblock%}



{%block sidebar%}
<div class="span3">
<div class="row-fluid">

<div class="span12 well bs-docs-sidebar">
   <!-- blogs begin-->
        <ul class="nav nav-list bs-docs-sidenav">
         <li class="nav-header">最新</li>
          {%for blog in blogs%}
          <li>
            <a href="{%url 'blog.views.blog_detail' blog_id=blog.id %}" >{{blog.title|truncatechars:23}}</a>
          </li>
          {%endfor%}
        </ul>
        <!--blogs end-->

</div>

<div class="span12 well bs-docs-sidebar">
        <!--sorts begin-->
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="nav-header">分类</li>
          {%for sort in sorts%}
          <li id="li_{{sort.id}}">
          {% if sort.blog_count > 0 %}
          <a href="{%url 'blog.views.sort_blogs' sort_id=sort.id %}">{{sort.name|truncatechars:30}}
           ({{sort.blog_count}})</a>
          {% else %}
          <a href="javascript:void(0)">{{sort.name|truncatechars:30}}({{sort.blog_count}})</a>
          {% endif %}
         
          </li>
          {%endfor%}
        </ul>
        <div class="pagination"> 
          {% if sorts.has_previous %}
            <a href="?sort_page={{ sorts.previous_page_number}}">‹‹ previous</a>
            {% else %}
            ‹‹ previous
          {% endif %}

           {% if sorts.has_next %}
            <a href="?sort_page={{ sorts.next_page_number }}">next ››</a>
            {% else %}
            next ››
          {% endif %}
        </div>

        <!--sorts end-->
 </div>
 
 <div class="span12 well" id="cloud" >
<p>

  {% for tag in tagclouds %}
<a href="http://{{request.META.HTTP_HOST}}/blogs/search/?q={{tag}}" style='font-size:20px;'>{{tag}}</a>
  {% endfor %}
</p>requires <a href="http://www.macromedia.com/go/getflashplayer">Flash Player</a> 9 or better.</p>
 </div>

{% if links%}
 <div class="span12 well">
  <li class="nav-header">友情链接</li>
  {% for link in links %}
  <a target="_blank" href="{{link.link}}">{{link.name}}</a>
{% endfor %}
 </div>
{% endif %}
 </div>
</div>
<script type="text/javascript" src="/static/js/swfobject.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  var innerDivp = $('#cloud p').html();
  var code = encodeURIComponent('<tags>' + innerDivp + '</tags>');
  var cloud = new SWFObject("/static/js/tagcloud.swf", "tagcloudflash", "270", "240", "9", "#ffffff");
  cloud.addParam("wmode", "transparent");
  cloud.addParam("allowScriptAccess", "always");
  cloud.addVariable("tcolor", "0x000000");
  cloud.addVariable("tcolor2", "0x000000");
  cloud.addVariable("hicolor", "0x999999");
  cloud.addVariable("tspeed", "150");
  cloud.addVariable("distr", "true");
  cloud.addVariable("mode", "tags");
  cloud.addVariable("tagcloud",code);
  cloud.write("cloud");
});
</script>



{%endblock%}
{%block content%}
<script type="text/javascript">
    $(document).ready(function(){
      changeActive(0);

      });

</script>

<div class="span9">

{% load pagination_tags %}
{% autopaginate blogs 5 %}

{%load nbsp%}
{%for blog in blogs%}

<section id="blog_{{blog.id}}">
  <div class="hero-unit">
    <div class="page-header">
    
    <h3>
      <a href="{%url 'blog.views.blog_detail' blog_id=blog.id  %}">{{blog.title}}</a>
      </h3>

    <p>{{blog.pub_date|date:"Y-m-d H:i:s"}}</p>    
      {{blog.content|striptags|nbsp|safe|truncatechars:300}}
    </div>
</div>
</section>

{%endfor%}

<div class="pagination pagination-large" > 
   <h4>{% paginate %}</h4>
</div>
</div>

{%endblock%}
