{%extends "base_index.html"%}
{%block title%}index{%endblock%}



{%block sidebar%}
<div class="row-fluid">

<div class="span12 well bs-docs-sidebar">
   <!-- blogs begin-->
        <ul class="nav nav-list bs-docs-sidenav">
         <li class="nav-header">Fresh Blogs </li>
          {%for blog in blogs%}
          <li>
            <a href="{%url 'blog.views.blog_detail' blog_id=blog.id %}" >{{blog.title|truncatechars:23}}</a>
          </li>
          {%endfor%}
        </ul>
        <!--blogs end-->

</div>

<div class="span12 well bs-docs-sidebar">
        <!--sorts begin-->
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="nav-header">Classified</li>
          {%for sort in sorts%}
          <li id="li_{{sort.id}}">
          <a href="{%url 'blog.views.sort_blogs' sort_id=sort.id %}">{{sort.name|truncatechars:30}}
           ({{sort.blog_count}})</a>
          </li>
          {%endfor%}
        </ul>
        <div class="pagination"> 
          {% if sorts.has_previous %}
            <a href="?sort_page={{ sorts.previous_page_number}}">‹‹ previous</a>
            {% else %}
            ‹‹ previous
          {% endif %}

           {% if sorts.has_next %}
            <a href="?sort_page={{ sorts.next_page_number }}">next ››</a>
            {% else %}
            next ››
          {% endif %}
        </div>

        <!--sorts end-->
 </div>

 </div>


{%endblock%}
{%block content%}
<script type="text/javascript">
    $(document).ready(function(){
      changeActive(1);

      });

</script>



{% load pagination_tags %}
{% autopaginate blogs 5 %}

{%load nbsp%}
{%for blog in blogs%}
<section id="blog_{{blog.id}}">
  <div class="hero-unit">
    <div class="page-header">
    
    <h3>
      <a href="{%url 'blog.views.blog_detail' blog_id=blog.id  %}">{{blog.title}}</a>
      </h3>

    <p>{{blog.pub_date|date:"Y-m-d H:i:s"}}</p>    
      {{blog.content|striptags|nbsp|safe|truncatechars:300}}
    </div>
</div>
</section>
{%endfor%}

<div class="pagination pagination-large" > 
   <h4>{% paginate %}</h4>
</div>


{%endblock%}
{%block footer%}{%endblock%}
