{%extends "blog_list.html"%}
{%block title%}{{blog.title}}{%endblock%}
{%block meta_desc%}
<meta name="description" content="Yasir的博客——{{blog.title}}">
{%endblock%}
{%block content%}

{% load static from staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/SyntaxHighlighter.css' %}"></link>
<script language="javascript" src="{% static 'js/shCore.js' %}"></script>
<script language="javascript" src="{% static 'js/shBrushCSharp.js'%} "></script>
<script language="javascript" src="{% static 'js/shBrushXml.js'%}"></script>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = "{% static 'js/clipboard.swf' %}";
dp.SyntaxHighlighter.HighlightAll('code');
</script>

<script type="text/javascript">
    $(document).ready(changeActive(0));
</script>
            
<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=2&amp;pos=right&amp;uid=1012088" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END -->


{%load duoshuo_tags%}
<div class="span9">
 <div class="row-fluid" id="blog_{{blog.id}}">
              <h2>{{blog.title}}</h2>
              <p>{{blog.pub_date|date:"Y-m-d H:i:s"}}</p>
              <p>Tags: 
                {% for t in tags %}<a href="/blogs/search/?q={{t}}">{{t}}</a>
                {% endfor %}
                </p>
                <br/>
              <p>
              	{%autoescape off%}
              	{{blog.content}}
              	{%endautoescape%}
               </p>

               <p>上一篇:
               {% if prev_blog %}
               <a href="{%url 'blog.views.blog_detail' prev_blog.id %}">{{prev_blog.title}}</a>
               {% else %}
               没有了
              {% endif %}
               </p>

               <p>
               下一篇:
               {% if next_blog %}
               <a href="{%url 'blog.views.blog_detail' next_blog.id %}">{{next_blog.title}}</a>
               {% else %}
               没有了
              {% endif %}
               </p>

               <p>{%duoshuo_comments 'yasir'%}

               </p>
            
</div><!--/row-->

</div>
{%endblock%}
