{% extends "base_index.html" %}
{% block title%}login{% endblock %}
{%block sidebar%}{%endblock%}
{% block content %}
<div class="span6 offset2">
      <form class="form-signin" action="{% url 'note.views.login' %}" method="post">
        {%csrf_token %}
	<h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" value="{{username}}" placeholder="Username"/><br/>
        <input type="password" name="password" placeholder="Password"/><br/>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>

        {% comment %}
        <input class="btn btn-large" type="button" value="Regist" onclick="window.location.href='/accounts/regist'"/>
        {% endcomment %}

      </form>

	{%if message%}
	<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{message}}
	</div>
	{%endif%}

</div>
{% endblock %}
