{%extends "base_index.html"%}
{%block title%}Yasir的Music{%endblock%}

{% load staticfiles %}
{%block sidebar%}
<div class="span3">
<div class="row-fluid">
<div class="span8 well bs-docs-sidebar">
   <!-- blogs begin-->
   <ul class="nav nav-list bs-docs-sidenav">
      <li class="nav-header">分类</li>
      {%for album in albums%}
        <li>
         <a href="{% url 'music.views.music_detail' album.id %}">{{album.name}}</a> 
        </li>
          {%endfor%}
    </ul>
        <!--blogs end-->

</div>
</div>
</div>



{%endblock%}

{%block content%}





<div class="span9">
          <div class="row-fluid">
            <div class="span4">
              <p><a href="/{{songs.audio_file}}"><img src="{% static 'img/MAIN201211081354000196064977315.jpg' %}"></a></p>

            </div><!--/span-->
             <div class="span4">
             <p>Donec id elit non mi  </p>
            </div><!--/span-->
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span4">
              <p><a href="/{{songs.audio_file}}"><img src="{% static 'img/2011-07-28-04-700x525.jpg' %}"></a></p>

            </div><!--/span-->
             <div class="span4">
             <p>Donec id elit non mi  </p>
            </div><!--/span-->
          </div><!--/row-->


  </div>

<script type="text/javascript" src="{% static 'js/bootstrap-carousel.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
      changeActive(1);

      });

</script>

{%endblock%}