{% extends "base_index.html" %}
{% block title%}markdown{% endblock %}
{%block sidebar%}{%endblock%}
{% block content %}


{% load static %}
<link type="text/css" href="{% static 'django_markdown/markdown.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'django_markdown/preview.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'django_markdown/skins/simple/style.css' %}"  media="screen" rel="stylesheet">
<script type="text/javascript" src="{% static 'django_markdown/jquery.markitup.js' %}"></script>
<script type="text/javascript" src="{% static 'django_markdown/markdown.js' %}"></script>
{% comment%}

{% endcomment %}

<script type="text/javascript">
// Initialize editor using default settings extended with ``extraSettings``
$(document).ready(function(){
  miu.init("blog_content");



// Get certain editor
miu.editors("blog_content");
});

</script>

<div class="span6 offset2">



      <form class="form-horizontal" action="{% url 'note.views.add' %}" method="post">
        {%csrf_token %}
   {% comment %}
        {{form}}
        
 {% endcomment %}
     
        <div class="control-group">
        <label class="control-label" for="sort_id">分类</label>
        <div class="controls" >
         <select name="sort_id" id="sort_id" placeholder="sort_id">
          <option value="0">--</option>
          {% for sort in sorts %}
            <option value="{{sort.id}}">{{sort.name}}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="control-group">
       <label class="control-label" for="blog_title">标题</label>
       <div class="controls">
         <input type="text" name="blog_title" id="blog_title" value="{{blog_title}}" placeholder="blog_title"/>
        </div>
    </div>

    <div class="control-group">
       <label class="control-label" for="blog_tags">Tags</label>
       <div class="controls">
         <input type="text" name="blog_tags" id="blog_tags"value="{{blog_tags}}" placeholder="blog_tags"/>
        </div>
    </div>

    <div class="control-group">
       <label class="control-label" for="blog_content">内容</label>
       <div class="controls">
           <textarea id="blog_content" name="blog_content" rows="5">{{blog_content}} </textarea>
        </div>
    </div>

     <div class="control-group">
       <div class="controls">
          <button class="btn btn-large btn-primary" type="submit" >提交</button>
        </div>
    </div>
     
      </form>

	{%if message%}
	<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{message}}
	</div>
	{%endif%}

</div>
{% endblock %}

