{%extends "base_user.html"%}
{%block title%}regist{%endblock%}
{%block content%}
<div class="container">
      <form class="form-signin" action="/accounts/regist/" method="post">
        {%csrf_token %}
        
        <h2 class="form-signin-heading">Please regist</h2>
        <input type="text"  name="email" value="{{email}}" placeholder="Email"/><br/>
        <input type="text"  name="username" value="{{username}}" placeholder="Username"/><br/>
        <input type="password" name="password" placeholder="Password"/><br/>
        <input type="password" name="confirmPwd" placeholder="Comfirm Password"/><br/>
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
	<input type="button" class="btn btn-large" onclick="window.location.href='/accounts/login'" value="Back"/>
      </form>
{%if message %}
        <div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	{{message}}
	</div>
{%endif %}
        
{%endblock%}
