{%extends "base_index.html"%}

{%block sidebar%}
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Hot comments</li>
      <li></li>
    </ul>
  </div>
</div>
{%endblock%}

{%block content%}
<table class="table table-hover">
<tr>
<td>Question</td>
<td>Date</td>
</tr>
{%for poll in polls%}
<tr>
<td><a href="poll?id={{poll.id}}">{{poll.question}}</a></td>
<td>{{poll.pub_date}}</td>
</tr>
{%endfor%}
</table>
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>
{%endblock%}


{%block footer%}{%endblock%}
