{%extends "vote.html"%}
{%block title%}vote{%endblock%}
{%block sidebar%}
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Questions</li>
	     {%for poll in polls%} 
              <li><a href="/vote/poll/{{poll.id}}/">{{poll.question}}</a></li>
              {%endfor%}
            </ul>
</div><!--/.well -->
<div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</div>

{%endblock%}
{%block content%}
<script type="text/javascript">
function choose(id){
    document.getElementById(id).checked = true;
}
</script>
<form action="/vote/{{poll.id}}/vote/" method="post">
{%csrf_token %}
<table class="table">
<tr>
<td>
{{poll.pub_date}}
</td>
</tr>
<tr>
<td>Question:{{poll.question}}</td>
</tr>
<tr>
<td>
{{choise_id}}
{%for choise in poll.choise_set.all%}
<input type="radio" name="choise" id="choise_{{choise.id}}" value="{{choise.id}}"/><lable onclick="choose('choise_{{choise.id}}')">{{choise.choise_text}}</lable><br/>
{%endfor%}
</td>
</tr>
<tr>
<td>
<button type="submit" class="btn btn-large btn-primary">Vote</button>
</td>
</tr>
<tr>
<td>
<span style="color:red">{{error}}</span>
</td>
</tr>
</table>
</form>
{%endblock%}
{%block footer%}{%endblock%}
