{%extends "base_index.html"%}
{%block title%}Yasir的投票{%endblock%}
{%block sidebar%}
<div class="span3">

{% load pagination_tags %}
{% autopaginate polls 10 %}
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Questions</li>
	     {%for poll in polls%} 
              <li id="li_{{poll.id}}"><a href="{%url 'users.views.poll_detail' poll.id %}">{{poll.question}}</a></li>
              {%endfor%}
            </ul>
</div><!--/.well -->
<div class="pagination"> 
	{%paginate%}
</div>

</div>
{%endblock%}
{%block content%}
<script type="text/javascript">
$(document).ready(function(){
  changeActive(1)
  changeLiActive({{poll.id}});
});
function choose(id){
    document.getElementById(id).checked = true;
}
</script>
<div class="span9">
{%if poll%}
<form action="{%url 'users.views.vote' poll.id%}" method="post">
{%csrf_token %}

<table class="table">
<tr>
<td>
{{poll.pub_date}}
</td>
</tr>
<tr>
<td>Question:{{poll.question}}</td>
</tr>
<tr>
<td>
{{choise_id}}
{%for choise in poll.choise_set.all%}
<input type="radio" name="choise" id="choise_{{choise.id}}" value="{{choise.id}}"/><lable onclick="choose('choise_{{choise.id}}')">{{choise.choise_text}}</lable><br/>
{%endfor%}
</td>
</tr>
<tr>
<td><label>Sign:</label><input type="text" value="游客" name="name"></td>
</tr>
<tr>
<td>
<button type="submit" class="btn btn-large btn-primary">Vote</button>
<input type="button" class="btn btn-large" value="Result" onclick="window.location.href='{%url 'users.views.results' poll.id %}'"/>
</td>
</tr>
<tr>
<td>
<span style="color:red">{{error}}</span>
</td>
</tr>
</table>
</form>

</div>
{%endif%}

{%endblock%}
